/* App.js */

.rowC{
  display:flex;
  flex-direction:row;
}

/* navBar.jsx */

.nav_menu{
  position: fixed;
  top: 138px;
  left: 25px;
  color: #191414;
}

.nav_item{
  display:flex;
  flex-direction:row;
}

.nav_item:hover {
  background: rgba(29, 185, 84, 0.15);
  border-radius: 10px;
}

.navbar {
  position: relative;
  width: 270px;
  height: 1080px;
  left: -1px;
  top: 0px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.Frame_9{
  position: fixed;
  width: 210px;
  height: 58px;
  left: 28px;
  top: 54px;
  background: #FFFFFF;
}

.sprintt {
  position: absolute;
  width: 109px;
  height: 60px;
  left: 26px;
  top: -5px;

  background: url(./assets/logo.png);
}


.Rectangle_17{
  position: relative;
  width: 210px;
  height: 55px;
}

.active {
  background: rgba(29, 185, 84, 0.15);
  border-radius: 10px;
}

.Vector{
  position: absolute;
  width: 20.18px;
  height: 21.6px;
  left: 30px; 
  top: 16px;
}

.nav_text {
  position: absolute;
  width: 96px;
  height: 21px;
  left: 73px;
  top: 18px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #191414;
}