

/* App.js */

.rowC{
  display:flex;
  flex-direction:row;
}

/* navBar.jsx */

.nav_menu{
  position: fixed;
  top: 138px;
  left: 25px;
  color: #191414;
}

.nav_item:hover {
  background: rgba(29, 185, 84, 0.15);
  border-radius: 10px;
}

.navbar {
  position: relative;
  width: 270px;
  height: 1080px;
  left: -1px;
  top: 0px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.Frame_9{
  position: fixed;
  width: 210px;
  height: 58px;
  left: 28px;
  top: 54px;
  background: #FFFFFF;
}

.sprintt {
  position: absolute;
  width: 109px;
  height: 60px;
  left: 26px;
  top: -5px;

  background: url(./assets/logo.png);
}


.Rectangle_17{
  position: relative;
  width: 210px;
  height: 55px;
}

.active {
  background: rgba(29, 185, 84, 0.15);
  border-radius: 10px;
}

.Vector{
  position: absolute;
  width: 20.18px;
  height: 21.6px;
  left: 30px; 
  top: 16px;
}

.nav_text {
  position: absolute;
  width: 96px;
  height: 21px;
  left: 73px;
  top: 18px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #191414;
}

/* playlist.jsx */

.img_playlist {
  width: 201px;
  height: 201px;
  border-radius: 25px;
}

.name {
  position: relative;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  width: 197px;
  font-size: 18px;
  line-height: 21px;
  top: 10px;
}

.description {
  width: 177px;
  height: 34px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

/* title.jsx */

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  height: 33px;
}

.arrows {
  position: relative;
  font-size: 17.05px;
}

.arrowL {
  transform: rotate(180deg);
  cursor: pointer;
}

.arrowR {
  cursor: pointer;
}

.disabled {
  opacity: 0.25;
  cursor: unset;
}

.container_title {
  height: 33px;
  justify-content: space-between;
}

/* playlistCarousel.jsx */

.carousel {
  position: relative;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: auto;
}

.playlist {
  position: relative;
  top: 20px;
  justify-content: space-between;
}

/* home.jsx */

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}


/* header.jsx */

.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0%;
  height: 220px;
}

.black-layer {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  border: #191414 1px solid;
  width: 100%;
  height: 100%;
  top: 0;
}


.first-line {
  position: relative;
  width: 80%;
  margin: auto;
  top: 30%;
  justify-content: space-between;
}

.second-line {
  position: relative;
  width: 80%;
  margin: auto;
  top: 30%;
  justify-content: space-between;
}

.header-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #F1F1F1;
}

.description-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #F1F1F1;
}

/* songsTable.jsx */

th {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #191414;
}

thead {
  border-bottom: 1px solid #646464;
}

td {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #191414;
}