
/* App.js */

.rowC{
  display:flex;
  flex-direction:row;
}

/* navBar.jsx */

.nav_menu{
  position: fixed;
  top: 138px;
  left: 25px;
  color: #191414;
}

.Rectangle_17:hover {
  background: rgba(29, 185, 84, 0.15);
  border-radius: 10px;
}

.navbar {
  position: sticky !important;
  width: 270px;
  height: 110vh;
  left: 0%;
  top: 0%;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.Frame_9{
  position: fixed;
  width: 210px;
  height: 58px;
  left: 28px;
  top: 54px;
  background: #FFFFFF;
}

.sprintt {
  position: absolute;
  width: 109px;
  height: 60px;
  left: 26px;
  top: -5px;

  background: url(./assets/logo.png);
}


.Rectangle_17{
  position: relative;
  width: 210px;
  height: 55px;
}

.active {
  background: rgba(29, 185, 84, 0.15);
  border-radius: 10px;
}

.Vector{
  position: absolute;
  width: 20.18px;
  height: 21.6px;
  left: 30px; 
  top: 16px;
}

.nav_text {
  position: absolute;
  width: 96px;
  height: 21px;
  left: 73px;
  top: 18px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #191414;
}

/* playlist.jsx */

.playitem {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.img_playlist {
  border-radius: 15px;
}

.buttonPlaylist {
  display: none;
}

.img_playlist:hover + .buttonPlaylist , .buttonPlaylist:hover{
  display: block;
  position: absolute;
  margin-top: 6%;
  margin-left: 6%;
  cursor: pointer;
}


.name {
  position: relative;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
  top: 5%;
  font-size: 18px;
  line-height: 21px;
}

.description {
  width: 80%;
  height: 34px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}

/* title.jsx */

.title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  height: 33px;
}

.arrows {
  position: relative;
  font-size: 17.05px;
}

.arrowL {
  transform: rotate(180deg);
  cursor: pointer;
}

.arrowR {
  cursor: pointer;
}

.disabled {
  opacity: 0.25;
  cursor: unset;
}

.container_title {
  height: 33px;
  justify-content: space-between;
}

/* playlistCarousel.jsx */

.carousel {
  margin-top: 3%;
  margin-left: auto;
}

.playlist {
  position: relative;
  top: 20px;
  justify-content: space-between;
}

/* home.jsx */

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  width: 79%;
}


/* header.jsx */

.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0%;
  height: 22vh;
  z-index: 1
}

.black-layer {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  border: #191414 1px solid;
  width: 100%;
  height: 100%;
  top: 0;
}


.first-line {
  position: relative;
  width: 80%;
  margin: auto;
  top: 30%;
  justify-content: space-between;
}

.second-line {
  position: absolute;
  width: 80%;
  top: 60%;
  right: 10%;
}

.header-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #F1F1F1;
}

.description-text {
  width: 50%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #F1F1F1;
}

.duration {
  text-align: right;
}

/* songsTable.jsx */

table {
  margin: auto;
}


.tablesize {
  width: 90%;
  height: fit-content;
  margin: auto;
}

th {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  color: #191414;
  white-space: nowrap;
}

.border_th {
  border-bottom: 1px solid #646464 !important;
}

.border_td {
  border-bottom: 0.5px solid #646464 !important;
}

td {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: #191414;
}


.not_liked {
  padding: 40px 40px;
}

.liked {
  height: 40px;
}

.button{
  border: none;
  opacity: 0;
}

.song_row {
  cursor: pointer;
}

.song_row:hover  > .button, .button:hover {
  opacity: 1;
}

.song_row:hover{
 background:  rgba(29, 185, 84, 0.2);
}


/* likedSongs.jsx */

.liked_songs {
  position: relative;
  margin-right: auto;
  width: 85%;
  height: 100%;
  align-items: center;
  background: rgba(29, 185, 84, 0.15);
}


/* filterBar.jsx */

.filterBar{
  margin-left: -3%;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  text-indent: 17%;
  background: none;
}

.bar {
  position: relative;
  overflow: hidden;
  margin-left: 11%;
  margin-top: 3%;
}

textarea:focus, input:focus{
  outline: none;
}

.magnifying {
  font-size: 1.5em;
  margin-bottom: 1%;
  color: rgba(100, 100, 100, 1);
}

/* playbackbar.jsx */

.playbackbar{
  position: fixed;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F1F1F1;
  height: 15%;
  bottom: 0%;
  left: 0%;
  width: 100%;
}

.text_bar{
  margin-left: 1%;
  margin-top: auto;
}

.p_title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.p_desc{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

/* playbackbuttons.jsx */

.playbackbuttons{
  width: 44%;
  margin-top: auto;
  margin-left: 2%;
}

.buttons_bar {
  width: 25%;
  margin: auto;
  justify-content: space-between;
}

.button_bar:hover{
  opacity: 0.3;
}


/* progressBar.jsx */


.timer {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
   height: 5px;
}

.progressBar > progress[value] {
  width: 100%;
  margin: 1.5%;
}

progress[value]::-webkit-progress-bar {
  background: #C4C4C4;
  border-radius: 11px;
}

progress[value]::-webkit-progress-value {
  background: #191414;
  border-radius: 11px;
}


/* volumeBar.jsx */

.volume{
 margin-left: 7%; 
 align-items: center;
}

.volume_button {
  width: 18.28px;
  height: 20px;
  margin-right: 5%;
}

